@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Source+Code+Pro:wght@600;700;900&display=swap');

.container {
    flex: 1;
    text-align: center;
    margin: 0;
}

.container h1 {
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    color: rgb(75, 255, 237);
    font-size: 50px;
    text-shadow:
    0.025em 0.025em 0 yellow,
    0.05em 0.05em 0 rgb(10, 65, 59),
    0.075em 0.075em 0 rgb(238, 236, 144),
    0.1em 0.1em 0 black;
}